@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,700&family=Ubuntu:ital,wght@0,500;0,700;1,700&display=swap');

* {
  /* font-family: 'Trebuchet MS', sans-serif; */
  /* font-family: 'Ubuntu', sans-serif; */
  font-family: 'Poppins', sans-serif;
  margin: 0;
  box-sizing: border-box;
}

.error-msg {
  color: red;
}

body {
  /* background-color: rgba(var(--main_color), 1); */
  margin: 0;
  /* background: linear-gradient(50deg, #4612aa, #590cca, #ad20bf, #d25ea3, #d783ad, #db95bb, #daa1c4); */
  background: linear-gradient(50deg, rgba(var(--main_color), 0.6), rgba(var(--second_color), 0.6), rgba(var(--third_color), 0.6), rgba(var(--fourth_color), 0.6));
  background-size: 600% 600%;
  background-position: 0% 0%;
  animation: background-animation 4s ease-in-out infinite;
}

@keyframes background-animation {
  0% {
    background-position: 0% 51%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 51%
  }

}

ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  background-color: rgba(var(--third_color), 0.6);
  backdrop-filter: blur(15px);
  font-weight: 700;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
}

li:hover {
  background-color: rgba(var(--fourth_color), 1);
  transition: all 0.2s ease-in-out;
}

li {
  font-size: 18px;
  float: left;
  /* border-radius: 4px; */
  /* margin: 0px 10px 0px 10px; */
  padding: 0px 10px 0px 10px;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  color: white;
}

.active {
  background-color: rgba(var(--fourth_color), 1);
  /* border-radius: 4px; */
}

h1,
h2 {
  text-align: center;
  color: white;
}

h1 {
  font-size: 72pt;
}

h2 {
  font-size: 24pt;
}

h3 {
  font-size: 24pt;
}

h4 {
  font-size: 18pt;
}

.NFT-card {
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(var(--main_color));
  border-radius: 25px;
  width: fit-content;

  padding: 30px;
  filter: drop-shadow(0 0 0.75rem black);
}


img {
  height: 350px;
  border-radius: 5px;
  /* border: gray 2px solid; */
}

.beautiful-text {
  background: linear-gradient(50deg, var(--text_one), var(--text_two), var(--text_three), var(--text_four), var(--text_five), var(--text_six));
  /* background-image: linear-gradient(45deg, rgb(var(--fourth_color)), rgb(var(--main_color)), rgb(var(--fourth_color))); */
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  /* background-size: 100%; */
  background-repeat: repeat;
  background-size: 600% 600%;
  background-position: 0% 0%;
  animation: background-animation 10s ease-in-out infinite;
}

.img-holder {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-self: center;
  margin-left: 10%;
  margin-right: 10%;

  padding-top: 30px;
  padding-bottom: 30px;

  align-items: center;
  justify-content: center;
}

#coin-top {
  max-width: 48px;
  max-height: 48px;
  border: none;
  pointer-events: none;
}

.coin-item {
  max-width: 20px;
  max-height: 20px;
  border: none;
}

img {
  border-radius: 5px;
}

.price {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.NFT-item * {
  color: rgb(var(--third_color));
}

.balance {
  position: absolute;
  right: 0;
  top: 0;
  padding-right: 20px;
  padding-top: 2.5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.not-allowed,
.no-buy {
  background-color: gainsboro;
  display: block;
  width: 50%;
  text-align: center;
  margin-top: 10px;
  color: gray;
  padding: 5px 20px;
  border-radius: 5px;
}

.past-transaction {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: rgb(var(--main_color));
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10%;

  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 10%;

  align-items: center;

  border-radius: 10px;

}

.past-transaction * {
  color: rgb(var(--second_color));
}

input[type=text],
input[type=password] {
  background-color: rgb(var(--second_color));
  margin-top: 5px;
  margin-bottom: 5px;
  height: 30px;
  width: 100%;
  border-radius: 2.5px;
  color: rgb(var(--main_color));
}

input[type=text]::placeholder,
input[type=password]::placeholder,
input[type=submit]::placeholder {
  color: rgba(var(--main_color), 1);

}

input[type=submit] {
  width: 100%;
  background-color: #240090;
  color: white;
  padding: 14px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


.profile-picture {
  width: 200px;
  height: 200px;
  padding-right: 10%;
  border: none;
  border-radius: 0;
}

.one-transaction {
  margin-left: 5%;
  margin-right: 5%;
}