<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/art-details.css">
    <link rel="stylesheet" href="../static/css/colors.css">
    <link rel="icon" href="/static/img/Need4Token.png" type="image/x-icon">
    <!-- <link rel="icon" href="/static/img/time.png" type="image/x-icon"> -->
    <script src="/static/js/show_password.js"></script>
    <title>{{art_data.name}} Details</title>
</head>

<body>
    <!--
    <div class="navbar">
        <ol>
            <li><a href="{{url_for('index')}}">Home</a></li>
            <li><a href="{{url_for('main')}}">Profile</a></li>
            <li><a href="{{url_for('logout')}}">Logout</a></li>
        </ol>
    </div>
    <h1>Need4Token {{art_data.name}}</h1>
    <div>
        <div class="img-holder">
            <img src="data:image/jpg;base64,{{image}}">
        </div>
        <div class="desc-holder">
            <p>created on: {{art_data.creationdate.strftime("%b %d, %Y %H:%M:%S")}}</p>
            <p>price: ${{art_data.price}}</p>


            <p>owner: {{art_data.owner[0].username}}</p>
            <p>creator: {{art_data.creator[0].username}}</p>
            {%if art_data.owner[0].id == current_user.id %}
            <a role="link" aria-disabled="true" title="You own this art!" class="not-allowed">Buy</a>
            {%elif art_data.price > current_user.balance%}
            <a role="link" aria-disabled="true" title="Not enough money!" class="no-buy">Not enough money!</a>
            {%else%}
            <form action="/buy/{{art_data.id}}" method="POST">

                {{form.password}}
                {{form.submit}}

            </form>
            {%endif%}
        </div>

        <div>
            <h1>Past Transactions</h1>
            {%if not transaction_info%}
            <p>No transactions yet!</p>
            {%endif%}
            {%for info in transaction_info%}
            <div class="colored">
                <p>seller: {{info[0].username}}</p>
                <p>buyer: {{info[1].username}}</p>
                <p>price: {{info[2]}}</p>
                <p>date: {{info[3].strftime("%b %d, %Y %H:%M:%S")}}</p>
            </div>
            {%endfor%}
        </div>

    </div>
    -->

    <ul>
        <li><a href="{{url_for('index')}}">Home</a></li>
        <li><a href="{{url_for('main')}}">Profile</a></li>
        <li><a href="{{url_for('logout')}}">Logout</a></li>
        <li>
            <div class="balance">
                <img id="coin-top" src="/static/img/coin.png" alt="">
                <h2>{{current_user.balance}}</h2>

            </div>
        </li>
    </ul>

    <div class="NFT-card">
        <div class="img-holder">
            <img src="data:image/jpg;base64,{{image}}">
        </div>
        <h3 class="beautiful-text">{{art_data.name}}</h3>
        <hr>
        <div class="NFT-item">
            <div class="price">
                <img class="coin-item" src="/static/img/coin.png" alt="">
                <h4>{{art_data.price}}</h4>
            </div>

            <p>Owner: {{art_data.owner[0].username}}</p>
            <p>Creator: {{art_data.creator[0].username}}</p>
            <p>Created on: {{art_data.creationdate.strftime("%b %d, %Y %H:%M:%S")}}</p>
            {%if art_data.owner[0].id == current_user.id %}
            <a role="link" aria-disabled="true" title="You own this art!" class="not-allowed">Buy</a>
            {%elif art_data.price > current_user.balance%}
            <a role="link" aria-disabled="true" title="Not enough money!" class="no-buy">Not enough money!</a>
            {%else%}
            <form action="/buy/{{art_data.id}}" method="POST">
                {% set msg=get_flashed_messages() %}
                <p style="color: red;">{{ msg[-1] }}</p>
                {{form.password}}<br>
                <input type="checkbox" onclick="showPassword()" name="show_password">
                <label for="show_password">Show password</label><br><br>
                {{form.submit}}

            </form>
            {%endif%}
        </div>

    </div>

    <br><br><br><br>
    <!--past transaction-->
    <h2>Past Transactions</h2>
    <div class="past-transaction">
        {%if not transaction_info%}
        <p>No transactions yet!</p>
        {%endif%}
        {%for info in transaction_info%}
        <div class="one-transaction">
            <img class="profile-picture"
                src="https://static01.nyt.com/images/2021/03/12/arts/11nft-auction-cryptopunks-print/11nft-auction-cryptopunks-print-jumbo.jpg?quality=75&auto=webp"
                alt="profile picture">
            <p>Seller: {{info[0].username}}</p>
            <p>Buyer: {{info[1].username}}</p>
            <!-- <p>Bought For {{info[2]}}</p> -->
            <div class="price">
                <p>Bought for</p>
                <img class="coin-item" src="/static/img/coin.png" alt="" style="margin-left: 2px;">
                <p>{{info[2]}}</p>
            </div>
            <p>Date: {{info[3].strftime("%b %d, %Y %H:%M:%S")}}</p>
        </div>
        {%endfor%}
    </div>




</body>

</html>