<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/indexFinal.css">
    <title>NFT Index</title>
</head>

<body>
    <!--
    <div class="navbar">
        <ol>
            <li><a href="" id="active">Home</a></li>
            <li><a href="{{url_for('main')}}">Application</a></li>
            <li><a href="{{url_for('login')}}">Login</a></li>
            <li><a href="{{url_for('register')}}">Register</a></li>
        </ol>
    </div>
    <h1>Welcome to NFT!</h1>
    <p>Track on NFT trading</p>
    <div class="images-holder">
        {% for i in range(0, length) %}
        <div class="img-holder">
            <img src="data:image/jpg;base64,{{images[i]}}">
            <div class="desc-holder">
                <p class="art-desc">Owned by: {{art_data[i].user.username}}</p>
                <p class="art-desc">{{art_data[i].name}}</p>
                <p class="art-desc">created on: {{art_data[i].creationdate}}</p>
            </div>
        </div>
        {%endfor%}
    </div>
    -->

    <ul>
        <li><a class="active" href="">Home</a></li>
        <li><a href="">Profile</a></li>
        <li><a href="">Login</a></li>
        <li><a href="">Register</a></li>
    </ul>

    <br><br><br>
    <h1>Welcome to NFT</h1>

    <br><br><br><br><br><br><br><br><br><br>
    <div class="hexagon"></div>

    <br><br><br><br><br><br><br><br><br>

    <h2>Featured Collection</h2>
    <br><br>

    <div class="img-holder">
        <div class="NFT-item">  
            <img src="https://static01.nyt.com/images/2021/03/12/arts/11nft-auction-cryptopunks-print/11nft-auction-cryptopunks-print-jumbo.jpg?quality=75&auto=webp" alt="Listed NFT 1">
            <h3>Smoking guy</h3>
            <h4>$999</h4>
        </div>
        <div class="NFT-item">  
            <img src="https://static01.nyt.com/images/2021/03/12/arts/11nft-auction-cryptopunks-print/11nft-auction-cryptopunks-print-jumbo.jpg?quality=75&auto=webp" alt="Listed NFT 1">
            <h3>Smoking guy</h3>
            <h4>$999</h4>
        </div>
        <div class="NFT-item">  
            <img src="https://static01.nyt.com/images/2021/03/12/arts/11nft-auction-cryptopunks-print/11nft-auction-cryptopunks-print-jumbo.jpg?quality=75&auto=webp" alt="Listed NFT 1">
            <h3>Smoking guy</h3>
            <h4>$999</h4>
        </div>
        <div class="NFT-item">  
            <img src="https://static01.nyt.com/images/2021/03/12/arts/11nft-auction-cryptopunks-print/11nft-auction-cryptopunks-print-jumbo.jpg?quality=75&auto=webp" alt="Listed NFT 1">
            <h3>Smoking guy</h3>
            <h4>$999</h4>
        </div>
        


    </div>

    


    
</body>

</html>