<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/css/index.css">
    <link rel="icon" href="./static/img/time.png" type="image/x-icon">
    <title>NFT Index</title>
</head>

<body>
    <div class="navbar">
        <ol>
            <li><a href="" id="active">Home</a></li>
            <li><a href="{{url_for('main')}}">Application</a></li>
            <li><a href="{{url_for('logout')}}">Logout</a></li>
        </ol>
    </div>
    <h1>Welcome to NFT! {{current_user.username}}</h1>
    <p>Track on NFT trading</p>
    <p>Balance: ${{current_user.balance}}</p>
    <div class="images-holder">
        {% for i in range(0, length) %}
        <div class="img-holder">
            <a href="/art/{{art_data[i].id}}"><img src="data:image/jpg;base64,{{images[i]}}"></a>
            <div class="desc-holder">
                <p>Owned by: {{art_data[i].owner[0].username}}</p>
                <p>{{art_data[i].name}}</p>
                <p>created on: {{art_data[i].creationdate.strftime("%b %d, %Y")}}</p>
                <p>price: ${{art_data[i].price}}</p>
                {%if art_data[i].owner[0].id == current_user.id %}
                <a role="link" aria-disabled="true">Buy</a>
                {%else%}
                <a href="/buy/{{art_data[i].id}}">Buy</a>
                {%endif%}
            </div>
        </div>
        {%endfor%}
    </div>
</body>

</html>