<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/indexFinal.css">
    <link rel="stylesheet" href="../static/css/colors.css">
    <link rel="icon" href="/static/img/ArtOverflow.png" type="image/x-icon">
    <title>Art Overflow Home</title>
</head>

<body>

    <ul>
        <li class="active"><a role="link" aria-disabled="true">Home</a></li>
        <li><a href="{{url_for('main')}}">Profile</a></li>
        <li><a href="{{url_for('logout')}}">Logout</a></li>
        <li>
            <div class="balance">
                <img id="coin-top" src="/static/img/coin.png" alt="">
                <h2>{{current_user.balance}}</h2>

            </div>
        </li>
    </ul>

    <br><br><br>
    <h1>Welcome to</h1>
    <h1 class="beautiful-text">Art Overflow</h1>
    <h2>Track on Art trading</h2>
    <!--edit-->

    <!-- <br><br><br><br><br><br><br><br><br><br>
    <div class="hexagon"></div>

    <br><br><br><br><br><br><br><br><br> -->

    <div class="logo-holder">
        <img class="logo" src="/static/img/ArtOverflow.png" alt="">
    </div>

    <h1>Featured Collections</h1>
    <br><br>

    <div class="img-holder">
        {% for i in range(0, length) %}
        <div class="Art-item">
            <a href="/art/{{art_data[i].id}}"><img src="data:image/jpg;base64,{{images[i]}}" class=""></a>
            <h3>{{art_data[i].name}}</h3>
            <hr>
            <h4>Owner: {{art_data[i].owner[0].username}}</h4>
            <h4>created on: {{art_data[i].creationdate.strftime("%B %d %Y")}}</h4>
            <div class="price">
                <img class="coin-item" src="/static/img/coin.png" alt="">
                <h4>{{art_data[i].price}}</h4>
            </div>
        </div>
        {%endfor%}
    </div>




    </div>

</body>

</html>