<!DOCTYPE html>
<html lang="en">

<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/login.css">
    <title>NFT Login</title>
</head>

<body>
    <!--
    <div class="navbar">
        <ol>
            <li><a href="{{url_for('index')}}">Home</a></li>
            <li><a href="" id="active">Login</a></li>
            <li><a href="{{url_for('register')}}">Register</a></li>
        </ol>
    </div>
    <h1>Welcome to NFT!</h1>
    <p>Login page for NFT</p>
    <p class="error-msg">{{ msg }}</p>
    <form method="POST" action="">
        {{form.hidden_tag()}}
        {{form.username}}
        {{form.password}}
        {{form.submit}}
    </form>
</body>
-->

<!--right side of the screen-->
<div class="vertDivide">
    <div class="divVertInside">

        <p><a href=""> Back to Home</a></p>

        <br>
        <h1>Log In</h1>
        
        <form>
            <label for="username">Username</label><br>
            <input type="text" id="username" name="username" placeholder="username" size="40"><br>

            <label for="password">Password</label><br>
            <input type="text" id="Password" name="Password" placeholder="password" size="40"><br>
            
            <br><br>
            <input type="submit" value="Log In">
            <input type="submit" value="Create an account">
        </form>

    </div>
</div>

<!-- left Side of screen-->
<br><br><br><br><br><br>
<h1>
    Trade and Colletct NFTs safely with (NFT)
</h1> 

<br><br><br><br><br><br><br>
<div class="hexagon"></div>



</html>