<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/login.css">
    <link rel="stylesheet" href="../static/css/colors.css">
    <link rel="icon" href="/static/img/Need4Token.png" type="image/x-icon">
    <!-- <link rel="icon" href="/static/img/time.png" type="image/x-icon"> -->
    <title>Need4Token Login</title>
</head>

<body>
    <!--
    <div class="navbar">
        <ol>
            <li><a href="{{url_for('index')}}">Home</a></li>
            <li><a role="link" aria-disabled="true" d="active">Login</a></li>
            <li><a href="{{url_for('register')}}">Register</a></li>
        </ol>
    </div>
    <h1>Welcome to NFT!</h1>
    <p>Login page for NFT</p>
    <p class="error-msg">{{ msg }}</p>
    <form method="POST" action="">
        {{form.hidden_tag()}}
        {{form.username}}
        {{form.password}}
        {{form.recaptcha()}}
        {{form.submit}}
    </form>
    <div class="form-group">
        <small class="text-muted ml-2">
            <a href="{{ url_for('reset_request') }}">Forgot Password?</a>
        </small>
    </div>
    -->

    <div class="vertDivide">
        <div class="divVertInside">

            <a href="{{url_for('index')}}"> Back to Home</a>
            <br>
            <h1>Sign In</h1>

            {% for field, errors in form.errors.items() %}
            <p class="error-msg">{{ ', '.join(errors) }}</p>
            {% endfor %}
            <form method="POST" action="">
                {{form.hidden_tag()}}

                <label for="username">Username</label><br>
                <!-- <input type="text" id="username" name="username" placeholder="Please enter alphanumerical character" size="40"><br> -->
                {{form.username}}<br>

                <label for="password">Password</label><br>
                <!-- <input type="text" id="Password" name="Password" placeholder="Please enter 8-20 characters" size="40"><br> -->
                {{form.password}} <br><br>

                {{form.recaptcha()}}<br>

                {{form.submit}}
                <!-- <input type="submit" value=""> -->
                <br><br>
                <a href="{{url_for('register')}}"> Create an account </a><br><br>
                <a href="{{url_for('reset_request')}}"> Forgot password? </a> <br>

                <br>
                {%for info in msg%}
                <p>{{info}}</p>
                {%endfor%}

            </form>

        </div>
    </div>

    <!-- left Side of screen-->
    <br><br><br><br><br><br>
    <h1 class="text-main">
        Trade and Collect NFTs safely with
    </h1>
    <h1 class="beautiful-text large">Need4Token</h1>

    <div class="logo-holder">
        <img class="logo" src="/static/img/Need4Token.png" alt="">
    </div>
    <!-- <br><br><br><br><br><br><br>
    <div class="hexagon"></div> -->
</body>

</html>