<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/css/index.css">
    <link rel="icon" href="./static/img/time.png" type="image/x-icon">
    <title>NFT Main</title>
</head>

<body>
    <div class="navbar">
        <ol>
            <li><a href="{{url_for('index')}}">Home</a></li>
            <li><a href="" id="active">Application</a></li>
            <li><a href="{{url_for('logout')}}">Logout</a></li>
        </ol>
    </div>
    <h1>Welcome, {{user.username}}</h1>
    <div class="flex">
        <p>You are in user area!</p>
        <p>Balance: ${{user.balance}}</p>

    </div>
    <form action="/topup" method="POST">
        <label for="topup-amount">topup amount</label>
        <input type="number" name="topup-amount" required placeholder="10">
        <br>
        <input type="submit" value="topup">
    </form>


    <!-- this <a> tag below is used to credit the icon owner -->
    <a href="https://www.flaticon.com/free-icons/calendar" title="calendar icons" style="position: fixed;bottom: 0;">
        Calendar icons created by Freepik - Flaticon
    </a>

    <form action="/main/upload" enctype="multipart/form-data" method="POST">

        <label for="picname">Picture Name</label>
        <input type="text" name="picname" required placeholder="please enter a name here...">
        <label for="price">Art Price</label>
        <input type="number" required name="price" placeholder="1000">
        <input type="file" name="pic" accept="image/png, image/jpeg">
        <br>
        <input type="submit" value="upload a file">

    </form>

    <div class="img-holder">
        {% for i in range(0,length) %}
        <div style="background-color: bisque; margin: 20px;">
            <img src="data:image/jpg;base64,{{images[i]}}">
            <p>Owner: {{user.username}}</p>
            <form action="/edit-art/{{user.owned_arts[i].id}}" method="POST">
                <label for="picname">Picture Name</label>
                <input type="text" name="picname" required value="{{user.owned_arts[i].name}}">
                <label for="price">Art Price</label>
                <input type="number" required name="price" value="{{user.owned_arts[i].price}}">
                <input type="submit" value="Done">
            </form>
        </div>
        {%endfor%}
    </div>
</body>

</html>