<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/register.css">
    <title>NFT Register</title>
</head>



<body>
    <!--
    <div class="navbar">
        <ol>
            <li><a href="{{url_for('index')}}">Home</a></li>
            <li><a href="{{url_for('login')}}">Login</a></li>
            <li><a href="" id="active">Register</a></li>
        </ol>
    </div>
    <h1>Welcome to NFT!</h1>
    <p>Register page for NFT</p>
    {% for field, errors in form.errors.items() %}
    <p class="error-msg">{{ ', '.join(errors) }}</p>
    {% endfor %}
    <form method="POST" action="">
        {{form.hidden_tag()}}
        {{msg}}
        {{form.username}}
        {{form.password}}
        {{form.submit}}
    </form> characters
    -->

    <!--right side of the screen-->
    <div class="vertDivide">
        <div class="divVertInside">

            <p><a href=""> Back to Home</a></p>
            
            <br>
            <h1>Sign Up</h1>
            
            <form>
                <label for="email">Email</label><br>
                <input type="text" id="email" name="email"  placeholder="Please enter your email" size="40"><br>

                <label for="username">Username</label><br>
                <input type="text" id="username" name="username" placeholder="Please enter alphanumerical character" size="40"><br>

                <label for="password">Password</label><br>
                <input type="text" id="Password" name="Password" placeholder="Please enter 8-20 characters" size="40"><br>
                
                <br><br>
                <input type="submit" value="Sign Up">
                <p> Already have an account? <a href=""> Sign in</a></p>
            </form>

        </div>
    </div>

    <!-- left Side of screen-->
    <br><br><br><br><br><br>
    <h1>
        Trade and Colletct NFTs safely with (NFT)
    </h1> 

    <br><br><br><br><br><br><br>
    <div class="hexagon"></div>
</body>

</html>