<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="icon" href="/static/img/time.png" type="image/x-icon">
    <title>Need4Token Register</title>
</head>

<body>
    <div class="navbar">
        <ol>
            <li><a href="{{url_for('index')}}">Home</a></li>
            <li><a href="{{url_for('login')}}">Login</a></li>
            <li><a role="link" aria-disabled="true" id="active">Register</a></li>
        </ol>
    </div>
    <h1>Welcome to NFT!</h1>
    <p>Register page for NFT</p>
    {% for field, errors in form.errors.items() %}
    <p class="error-msg">{{ ', '.join(errors) }}</p>
    {% endfor %}
    <form method="POST" action="">
        {%for info in msg%}
        <p>{{info}}</p>
        {%endfor%}
        {{form.hidden_tag()}}
        {{form.username}}
        {{form.email}}
        {{form.password}}
        {{form.password_confirm}}
        {{form.recaptcha()}}
        {{form.submit}}
    </form>
</body>

</html>