<head>
    <link rel="stylesheet" href="../static/css/reset_token.css">
    <title>Reset Password</title>
</head>
    
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <div class="form-group">
                <h2> Reset Password </h2>
                {{ form.password.label(class="form-control-label") }}
                {% if form.password.errors %}
                {{ form.password(class="form-control form-control-lg is-invalid") }}

                <div class="invalid-feedback">
                    {% for error in form.password.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {%for info in msg%}
                <p>{{info}}</p>
                {%endfor%}
                {{ form.password(class="form-control form-control-lg") }}
                {{ form.password_confirm(class="form-control form-control-lg") }}
                {{form.recaptcha()}}
                {% endif %}
            </div>
            {{ form.submit(class="btn btn-outline-info") }}
        </fieldset>
    </form>