<head>
    <link rel="stylesheet" href="../static/css/reset_request.css">
    <link rel="stylesheet" href="../static/css/colors.css">
    <title>Reset Password</title>
</head>

<form method="POST" action="">
    {{ form.hidden_tag() }}
    <fieldset class="form-group">
        <div class="form-group">
            <h2> Reset Password </h2>
            {% if form.password.errors %}
            {{ form.password(class="form-control form-control-lg is-invalid") }}

            <div class="invalid-feedback">
                {% for error in form.password.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {%for info in msg%}
            <p>{{info}}</p>
            {%endfor%}
            <!-- {{ form.password.label(class="form-control-label") }} -->
            <label for="password">Password</label><br>
            {{ form.password(class="form-control form-control-lg") }} <br>
            <label for="password_confirm">Confirm Password</label><br>

            <!-- {{ form.password_confirm.label(class="form-control-label") }} -->
            {{ form.password_confirm(class="form-control form-control-lg") }}<br><br>
            {{form.recaptcha()}}
            {% endif %}
        </div>
        <br>
        {{ form.submit(class="btn btn-outline-info") }}
    </fieldset>
</form>