<head>
    <link rel="stylesheet" href="../static/css/reset_request.css">
    <link rel="stylesheet" href="../static/css/colors.css">
    <link rel="icon" href="/static/img/ArtOverflow.png" type="image/x-icon">

    <title>Reset Password</title>
    <script src="/static/js/show_password.js"></script>
</head>

<form method="POST" action="">
    {{ form.hidden_tag() }}
    <fieldset class="form-group">
        <div class="form-group">
            <h2> Reset Password </h2>
            {% if form.password.errors %}
            {{ form.password(class="form-control form-control-lg is-invalid") }}

            <div class="invalid-feedback">
                {% for error in form.password.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {%for info in msg%}
            <p>{{info}}</p>
            {%endfor%}
            <!-- {{ form.password.label(class="form-control-label") }} -->
            <label for="password">Password</label><br>
            {{ form.password(class="form-control form-control-lg") }} <br>
            <label for="password_confirm">Confirm Password</label><br>

            <!-- {{ form.password_confirm.label(class="form-control-label") }} -->
            {{ form.password_confirm(class="form-control form-control-lg") }}<br>
            <input type="checkbox" onclick="showPasswords()" name="show_password">
            <label for="show_password">Show passwords</label><br><br>
            {{form.recaptcha()}} <br>
            {% endif %}
        </div>
        <br><br>
        {{ form.submit(class="btn btn-outline-info") }}
    </fieldset>
</form>